*{
    -fx-font-family: 'Roboto';
}

.cityTextField {
    -fx-font-size: 28px;
}

.cityTextField:hover{
    -fx-font-size: 22px;
}

.cityTextField:focused{
    -fx-font-size: 22px;
}

.temperatureLabel{
    -fx-font-size: 26px;
}

.weatherConditionsLabel{
    -fx-font-size: 12px;
}

.forecastLabel {
    -fx-font-size: 11px;
}

.forecastTableView .table-cell {
    -fx-font-size: 11px;
}

.optionsText, .optionsChoiceBox, .optionsApplyButton, .optionsCancelButton {
    -fx-font-size: 11px;
}

.optionsSlider > .axis{
    -fx-tick-label-font-size: 11px;
}


