@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoRegular.ttf');
}

*{
    -fx-my-background-color-primary: #121212;
    -fx-my-background-color-secondary: #616161;
    -fx-my-font-color:  #ffffff;
    -fx-my-default-minor-element-color: #8351db;

    -fx-text-fill: -fx-my-font-color;
}

Button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

ChoiceBox {
    -fx-background-color: -fx-my-background-color-secondary;
    -fx-mark-color: -fx-my-default-minor-element-color;
}

ChoiceBox .context-menu {
    -fx-background-color: -fx-my-background-color-secondary; }

Slider .axis {
    -fx-tick-label-fill: -fx-my-font-color;
}
Slider .track{
    -fx-background-color: -fx-my-background-color-secondary;
}
Slider .track:hover{
    -fx-background-color: -fx-my-background-color-secondary;
}
Slider .thumb{
    -fx-background-color: -fx-my-default-minor-element-color;
}

.mainViewRootAnchorPane{
    -fx-background-color: linear-gradient(to bottom,-fx-my-background-color-primary ,-fx-my-background-color-secondary);
    -fx-background-radius: 10 10 10 10;

}
.optionsRootAnchorPane{
    -fx-background-color: linear-gradient(to bottom,-fx-my-background-color-secondary ,-fx-my-background-color-primary);
    -fx-background-radius: 10 10 10 10;
}
.leftPaneWrapper > *, .rightPaneWrapper > * {
    -fx-background-color: transparent;
}

.leftColCity:hover, .rightColCity:hover{
    -fx-cursor: hand;
}

.table-view *{
    -fx-background-color: transparent;
}

.table-view:disabled{
    -fx-opacity: 1;
}

.table-view .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-alignment: center;
}

.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}